# 출력 - print()

In [1]:
# "" 혹은 '' 안에 있는 내용을 출력합니다.
print("hello world")

hello world

In [2]:
# \가 앞에 오면 특수 문자로 사용됩니다.
# \n: new line
# \t: tab
# \": " 출력
# \\ : \ 출력
print("hello world\ngood bye")

hello world
good bye

In [3]:
# a라는 저장소에 "hello world" 라는 값을 저장하면
# 앞으로 a 가 저장한 "hello world"의 값을 계속 사용할 수 있습니다.
a = "hello world"
print(a)

hello world

In [4]:
# print() 함수 안에서는 , 로 구분하여 여러가지 문자를 출력할 수 있습니다.
a = "hello world"
b = "good bye"
print(a, "|", b)

hello world | good bye

# 연산1

## 사칙연산

In [5]:
print(1+2)

3

In [6]:
print(1-2)

-1

In [7]:
print(1*2)

2

In [8]:
print(1/2)

0.5

## 나누기 관련

In [9]:
print(5/3) # 나누기

1.6666666666666667

In [10]:
print(5//3) # 몫

1

In [11]:
print(5%3) # 나머지

2

## 괄호로 연산순서 조정

In [12]:
print((1+2)*(3-4))

-3

## 비교연산자

In [13]:
print(1==2)

False

In [14]:
print(1!=2)

True

In [15]:
print(1>2)

False

In [16]:
print(1<2)

True

## 논리연산자

`and` : 둘다 True 일때만 True, 그 외에는 False  
`or` : 둘 중 하나만 True여도 True, 둘다 False 이면 False

In [17]:
print(True and True)

True

In [18]:
print(True and False)

False

In [19]:
print(True or False)

True

In [20]:
print(False or False)

False

# type

In [21]:
# str
a = "hello"
type(a)

str

In [22]:
# float
a = 1.5
type(a)

float

In [23]:
# int
a = 1
type(a)

int

In [24]:
# bool
a = True
type(a)

bool

In [25]:
# 형변환
a = 1.6
b = int(a)
print(a, type(a), b, type(b))

1.6 <class 'float'> 1 <class 'int'>

In [26]:
# 반올림
a = 1.6
b = round(a)
print(b)

2

In [27]:
# str과 str을 더하면?
a = "1"
b = "1"
print(a+b)

11

In [28]:
# int와 int를 더하면?
print(int(a)+int(a))

2

# 함수

In [29]:

def func(a, b):
    return a + b

c = func(1,2)
d = func(3,4)
print(c)
print(c)

3
3

## math 라이브러리 함수 활용

In [30]:
import math
print(math.pow(2,3))

8.0

In [31]:
print(math.sqrt(2))

1.4142135623730951

In [32]:
degree = 60
radian = math.radians(degree)
print(math.sin(radian))

0.8660254037844386

In [33]:
help(math.pow)

Help on built-in function pow in module math:

pow(x, y, /)
    Return x**y (x to the power of y).

In [34]:
help(math.cos)

Help on built-in function cos in module math:

cos(x, /)
    Return the cosine of x (measured in radians).

# 리스트 (배열)

여러가지 값들의 모음을 저장

In [35]:
a = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [36]:
len(a)

10

In [37]:
a[0]

0

In [38]:
a[8]

8

In [39]:
a[-2]

8

In [40]:
a[10]  # error

IndexError: list index out of range

In [41]:
a[:2]

[0, 1]

In [42]:
a[8:]

[8, 9]

In [43]:
a[-2]

8

In [44]:
a[-2:]

[8, 9]

In [45]:
a[:-2]

[0, 1, 2, 3, 4, 5, 6, 7]

In [46]:
# 배열을 만드는 다양한 방법 중 하나
# range(N): 0 ~ N-1 까지의 값을 만들어줌
a = list(range(10))

In [47]:
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [48]:
a[0] = 100  # replace
print(a)

[100, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [49]:
del a[0]   # delete
print(a)
print(len(a))

[1, 2, 3, 4, 5, 6, 7, 8, 9]
9

In [50]:
a.append(200) # append 
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 200]

In [51]:
a = list(range(10))
a.sort(reverse=True)
print(a)

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [52]:
a.sort()
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [53]:
min(a)

0

In [54]:
max(a)

9

In [55]:
sum(a)

45

# dictionary

- 딕셔너리는 순서에 상관없이 데이터를 담을 수 있는 구조입니다.
- 각 데이터는 `key`를 가지고 있고, 그 `key`로 접근합니다.
- a = {"name1":data1, "name2":data2, ...} 으로 생성합니다.
- a가 담고 있는 각 데이터는 a["name1"], a["name2"], ... 로 접근합니다.
- 담을 수 있는 데이터는 리스트와 같고, 접근 방법만 차이가 있습니다.

In [56]:
# 생성
# key: "tom", "john", "jessy" // value: 45, 30, 11
d = {"tom":45, "john":30, "jessy":11}

In [57]:
# 조회 (key를 사용)
print(d["tom"])

45

# 조건문

조건에 따라 다른 명령어를 수행하도록 하는 방법

In [58]:
a = 5
b = 3
if a > b:
    print("a is greater than b")
elif a < b:
    print("a is less than b")
else:
    print("a is the same as b")

a is greater than b

In [ ]:
c = input()
print("input value is ", c)

In [ ]:
# c가 1 이면 a+b
# c가 2 이면 a-b
# c가 3 이면 a*b 를 출력하는 코드를 작성해보세요
if c==1:
    print(a+b)
elif c==2:
    # 코드 작성
elif #코드작성
    # 코드 작성

# 반복문 for

for 반복문은 `in` 뒤에 존재하는 `문자열`, `리스트`, `튜플`을  
순서대로 순회하면서 하나씩 하나씩 에 넣어줍니다.

In [ ]:
total = 0
for i in range(10):
    print(i)
    total += i
print("total:", total)

In [ ]:
names = ["Tom", "David", "Elsa"]
for name in names:
    print("Hello", name)

In [ ]:
# enumerate: index를 포함하기
names = ["Tom", "David", "Elsa"]
for idx, name in enumerate(names):
    print(idx, name)

In [ ]:
# dictionalry의 key만 추출하기
dic = {"tom":45, "john":30, "jessy":11}
for k in dic:    # for k in dic.keys(): 와 같음
    print(k)

In [ ]:
# dictionary의 value만 추출하기
for v in dic.values():
    print(v)

In [ ]:
# dictionary의 key, value를 추출하기
for k, v in dic.items():
    print(k,v)

In [ ]:
# break - 루프 중간에 끝내기
total = 0
for i in range(10):
    total += i
    print(i, total)
    if total >= 10:
        break

In [ ]:
# 문제
# total = 1+2+3+... + N 일때,
# total이  20보다 커지는 가장 작은 N을 찾기 위한 프로그램을 작성해보세요
total = 0
for i in range(10):
    total += i
    print(i, total)
    # if문 삽입

In [ ]:
# continue - 루프에서 아래코드를 실행하지 않고 건너뛰기
# 1부터 10까지 짝수의 합만 구하는 프로그램

# class

여러개의 변수/함수를 묶어주기 위한 용도

In [ ]:
from dataclasses import dataclass

@dataclass
class Student:
    
    name: str
    age: int
    height: float

@dataclass
class Teacher:

    name: str
    subject: str

tom = Student(name="Tom", age=10, height=174.2)
david = Teacher(name="David", subject="Computer")

print(tom)
print(david)

In [ ]:
print(tom.name, tom.age, tom.height)
print(type(tom.name), type(tom.age), type(tom.height), type(tom))

# F-String
변수값을 특정 포멧에 맞추어 쉽게 표시하기 위한 방법

In [ ]:
students = [Student("Tom", 9, 174.234), Student("Jessy", 11, 181.2)]

In [ ]:
for student in students:
    print(student.name, student.age, student.height)

In [ ]:
# f"" 안에 출력값을 넣어줌
# 변수 값을 출력하고 싶은 경우에는 {} 안에 넣음
# 특정 포멧으로 출력하고 싶은 경우 : 뒤에 포멧을 입력
for student in students:
    print(f"{student.name:5s}, {student.age:02d}, {student.height:.2f}")