# 출력 - print()

In [ ]:
print("hello world")

In [ ]:
print("hello world\ngood bye")

In [ ]:
a = "hello world"
print(a)

In [ ]:
a = "hello world"
b = "good bye"
print(a, "|", b)

In [ ]:
# 이건은 주석입니다. (실행이 되지 않습니다.)

# 연산

In [ ]:
print(1+2)

In [ ]:
print(1-2)

In [ ]:
print(1*2)

In [ ]:
print(1/2)

In [ ]:
print(5/3) # 나누기

In [ ]:
print(5//3) # 몫

In [ ]:
print(5%3) # 나머지

In [ ]:
print((1+2)*(3-4))

In [ ]:
print(1==2)

In [ ]:
print(1!=2)

In [ ]:
print(1>2)

In [ ]:
print(1<2)

In [ ]:
print(True and True)

In [ ]:
print(True and False)

In [ ]:
print(True or False)

In [ ]:
print(False or False)

In [ ]:
print(math.sqrt(2))

# type

In [ ]:
a = "hello"
type(a)

In [ ]:
a = 1.5
type(a)

In [ ]:
a = 1
type(a)

In [ ]:
a = True
type(a)

In [ ]:
a = 1.6
b = int(a)
print(b)

In [ ]:
a = 1.6
b = round(a)
print(b)

In [ ]:
a = "1"
b = "1"
print(a+b)

In [ ]:
print(int(a)+int(a))

# 함수

In [ ]:
def func(a, b):
    return a + b

c = func(1,2)
print(c)

In [ ]:
import math
print(math.pow(2,3))

In [ ]:
degree = 60
radian = math.radians(degree)
print(math.sin(radian))

In [ ]:
help(math.pow)

In [ ]:
help(math.cos)

# 리스트 (배열)

In [ ]:
a = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
len(a)

In [ ]:
a[0]

In [ ]:
a[8]

In [ ]:
a[-2]

In [ ]:
a[10]  # error

In [ ]:
a[:2]

In [ ]:
a[8:]

In [ ]:
a[-2]

In [ ]:
a[-2:]

In [ ]:
a[:-2]

In [ ]:
a = list(range(10))

In [ ]:
a

In [ ]:
a[0] = 100  # replace
print(a)

In [ ]:
del a[0]   # delete
print(a)
print(len(a))

In [ ]:
a.append(200) # append 
print(a)

In [ ]:
a = list(range(10))
a.sort(reverse=True)
print(a)

In [ ]:
a.sort()
print(a)

In [ ]:
min(a)

In [ ]:
max(a)

In [ ]:
sum(a)

# 분기문

In [ ]:
a = 5
b = 3
if a > b:
    print("a is greater than b")
elif a < b:
    print("a is less than b")
else:
    print("a is the same as b")

# 반복문

In [ ]:
total = 0
for i in range(10):
    print(i)
    total += i
print("total:", total)

In [ ]:
names = ["Tom", "David", "Elsa"]
for name in names:
    print("Hello", name)

# class

In [ ]:
from dataclasses import dataclass

@dataclass
class Student:
    
    name: str
    age: int
    height: float

@dataclass
class Teacher:

    name: str
    subject: str

tom = Student(name="Tom", age=10, height=174.2)
david = Teacher(name="David", subject="Computer")

print(tom)
print(david)

In [ ]:
print(tom.name, tom.age, tom.height)
print(type(tom.name), type(tom.age), type(tom.height), type(tom))