# 출력 - print()

In [ ]:
# "" 혹은 '' 안에 있는 내용을 출력합니다.
print("hello world")

In [ ]:
# \가 앞에 오면 특수 문자로 사용됩니다.
# \n: new line
# \t: tab
# \": " 출력
# \\ : \ 출력
print("hello world\ngood bye")

In [ ]:
# a라는 저장소에 "hello world" 라는 값을 저장하면
# 앞으로 a 가 저장한 "hello world"의 값을 계속 사용할 수 있습니다.
a = "hello world"
print(a)

In [ ]:
# print() 함수 안에서는 , 로 구분하여 여러가지 문자를 출력할 수 있습니다.
a = "hello world"
b = "good bye"
print(a, "|", b)

# 연산1

## 사칙연산

In [ ]:
print(1+2)

In [ ]:
print(1-2)

In [ ]:
print(1*2)

In [ ]:
print(1/2)

## 나누기 관련

In [ ]:
print(5/3) # 나누기

In [ ]:
print(5//3) # 몫

In [ ]:
print(5%3) # 나머지

## 괄호로 연산순서 조정

In [ ]:
print((1+2)*(3-4))

## 비교연산자

In [ ]:
print(1==2)

In [ ]:
print(1!=2)

In [ ]:
print(1>2)

In [ ]:
print(1<2)

## 논리연산자

`and` : 둘다 True 일때만 True, 그 외에는 False  
`or` : 둘 중 하나만 True여도 True, 둘다 False 이면 False

In [ ]:
print(True and True)

In [ ]:
print(True and False)

In [ ]:
print(True or False)

In [ ]:
print(False or False)

# type

In [ ]:
# str
a = "hello"
type(a)

In [ ]:
# float
a = 1.5
type(a)

In [ ]:
# int
a = 1
type(a)

In [ ]:
# bool
a = True
type(a)

In [ ]:
# 형변환
a = 1.6
b = int(a)
print(a, type(a), b, type(b))

In [ ]:
# 반올림
a = 1.6
b = round(a)
print(b)

In [ ]:
# str과 str을 더하면?
a = "1"
b = "1"
print(a+b)

In [ ]:
# int와 int를 더하면?
print(int(a)+int(a))

# 함수

In [ ]:

def func(a, b):
    return a + b

c = func(1,2)
d = func(3,4)
print(c)
print(c)

## math 라이브러리 함수 활용

In [ ]:
import math
print(math.pow(2,3))

In [ ]:
print(math.sqrt(2))

In [ ]:
degree = 60
radian = math.radians(degree)
print(math.sin(radian))

In [ ]:
help(math.pow)

In [ ]:
help(math.cos)

# 리스트 (배열)

여러가지 값들의 모음을 저장

In [ ]:
a = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
len(a)

In [ ]:
a[0]

In [ ]:
a[8]

In [ ]:
a[-2]

In [ ]:
a[10]  # error

In [ ]:
a[:2]

In [ ]:
a[8:]

In [ ]:
a[-2]

In [ ]:
a[-2:]

In [ ]:
a[:-2]

In [ ]:
# 배열을 만드는 다양한 방법 중 하나
# range(N): 0 ~ N-1 까지의 값을 만들어줌
a = list(range(10))

In [ ]:
a

In [ ]:
a[0] = 100  # replace
print(a)

In [ ]:
del a[0]   # delete
print(a)
print(len(a))

In [ ]:
a.append(200) # append 
print(a)

In [ ]:
a = list(range(10))
a.sort(reverse=True)
print(a)

In [ ]:
a.sort()
print(a)

In [ ]:
min(a)

In [ ]:
max(a)

In [ ]:
sum(a)

# 조건문

조건에 따라 다른 명령어를 수행하도록 하는 방법

In [ ]:
a = 5
b = 3
if a > b:
    print("a is greater than b")
elif a < b:
    print("a is less than b")
else:
    print("a is the same as b")

# 반복문 for

for 반복문은 `in` 뒤에 존재하는 `문자열`, `리스트`, `튜플`을  
순서대로 순회하면서 하나씩 하나씩 에 넣어줍니다.

In [ ]:
total = 0
for i in range(10):
    print(i)
    total += i
print("total:", total)

In [ ]:
names = ["Tom", "David", "Elsa"]
for name in names:
    print("Hello", name)

# class

여러개의 변수/함수를 묶어주기 위한 용도

In [ ]:
from dataclasses import dataclass

@dataclass
class Student:
    
    name: str
    age: int
    height: float

@dataclass
class Teacher:

    name: str
    subject: str

tom = Student(name="Tom", age=10, height=174.2)
david = Teacher(name="David", subject="Computer")

print(tom)
print(david)

In [ ]:
print(tom.name, tom.age, tom.height)
print(type(tom.name), type(tom.age), type(tom.height), type(tom))

# F-String
변수값을 특정 포멧에 맞추어 쉽게 표시하기 위한 방법

In [ ]:
students = [Student("Tom", 9, 174.234), Student("Jessy", 11, 181.2)]

In [ ]:
for student in students:
    print(student.name, student.age, student.height)

In [ ]:
# f"" 안에 출력값을 넣어줌
# 변수 값을 출력하고 싶은 경우에는 {} 안에 넣음
# 특정 포멧으로 출력하고 싶은 경우 : 뒤에 포멧을 입력
for student in students:
    print(f"{student.name:5s}, {student.age:02d}, {student.height:.2f}")